{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<section class="about">
    <div class="main">
        
        <div class="abt-text">
            <h1>About Us</h1>
            <p>Kanyarasi Travels is a comprehensive travel booking platform that allows users to search for and book flights, hotels, and other travel-related services. The platform is built with a focus on usability, and scalability.
                <br>
                <br>
                Developed By :-
                <br>1. Reddy Santoshi - sreddy5
                <br>2. Velupula Likitha - velupula
                <br>3. Sathwik Kothapalli - skothap3
                <br>4. Sai Deepak - spokkula
                <br>5. Govardhan Yalavarthi - gyalavar</p>
            <a href="ttps://www.github.com/ygovardhan99/tourism-website" class="connectbtn" target="_blank">Connect with us!</a>

            <div class="connect-section">
                <div class="social-icons">
                    <a href="https://www.facebook.com/" target="_blank"><i class='bx bxl-facebook'></i></a>
                    <a href="https://www.instagram.com/" target="_blank"><i class='bx bxl-instagram' ></i></a>
                    <a href="https://www.twitter.com/" target="_blank"><i class='bx bxl-twitter' ></i></a>
                    <a href="https://www.linkedin.com/" target="_blank"><i class='bx bxl-linkedin' ></i></a>
                    <a href="https://www.youtube.com/" target="_blank"><i class='bx bxl-youtube'></i></a>
                    
                    <a href="ttps://www.github.com/ygovardhan99/tourism-website" target="_blank"><i class='bx bxl-github'></i></a>
                    
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}